In [6]:
"""device setting"""
import torch
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [2]:
"""load dataset"""
import pandas as pd
data = pd.read_csv('./loan.csv')        
continuous_features = [
    'Age',
    'Experience',
    'Income', 
    'CCAvg',
    'Mortgage',
]
categorical_features = [
    'Family',
    'Personal Loan',
    'Securities Account',
    'CD Account',
    'Online',
    'CreditCard'
]
integer_features = [
    'Age',
    'Experience',
    'Income', 
    'Mortgage'
]
data = data[continuous_features + categorical_features]
ClfTarget = "Personal Loan"

In [3]:
"""DistVAE"""
from distvae_tabular import distvae

distvae = distvae.DistVAE(
    data,
    continuous_features,
    categorical_features,
    integer_features,
    ClfTarget,
    epochs=5 # for quick checking
)

Tranform Continuous Features...: 100%|██████████| 5/5 [00:00<00:00, 648.07it/s]

In [4]:
"""training"""
distvae.train()

inner loop: 100%|██████████| 20/20 [00:00<00:00, 73.08it/s]

Epoch [001/5], loss: 5.7966, recon: 5.7467, KL: 0.4995, activated: 0.0000

inner loop: 100%|██████████| 20/20 [00:00<00:00, 86.49it/s]

Epoch [002/5], loss: 5.0617, recon: 5.0096, KL: 0.5211, activated: 0.0000

inner loop: 100%|██████████| 20/20 [00:00<00:00, 87.40it/s]

Epoch [003/5], loss: 4.6629, recon: 4.4842, KL: 1.7873, activated: 0.0000

inner loop: 100%|██████████| 20/20 [00:00<00:00, 88.42it/s]

Epoch [004/5], loss: 4.3299, recon: 4.0417, KL: 2.8816, activated: 0.0003

inner loop: 100%|██████████| 20/20 [00:00<00:00, 90.36it/s]

Epoch [005/5], loss: 3.7221, recon: 3.2036, KL: 5.1849, activated: 0.0017

In [5]:
"""generate synthetic data"""
syndata = distvae.generate_data(100)
syndata

Generate Synthetic Dataset...: 100%|██████████| 1/1 [00:00<00:00, 180.31it/s]

,Age,Experience,Income,CCAvg,Mortgage,Family,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,34,7,139,3.254932,21,1,1,0,0,1,1
1,50,22,72,2.179548,28,2,0,1,0,1,0
2,38,8,-34,-1.509090,6,2,0,0,0,0,0
3,43,22,92,3.371486,4,1,0,1,0,1,0
4,46,21,66,1.273987,19,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
95,44,33,63,-0.104313,-6,2,0,0,0,1,0
96,46,21,120,4.064387,105,1,0,0,0,1,0
97,37,19,91,2.906864,131,2,0,0,0,0,1
98,52,17,161,3.737992,102,3,0,0,0,1,1
99,45,29,58,0.485119,58,3,0,0,0,1,0